<div id="page-wrap">

<h1>Picture#new</h1>

<h2>New picture form</h2>
<p>Find me in app/views/portfolio/new.html.erb</p>
<%= form_for @picture, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </p>

  <p>
  <%= f.file_field :image %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>
